:root {

    --layout-width: calc(100vw - (2 * 48px));
}

body {
    background: #0E0E0E;
}

.jinga {
    font-family: var(--font-mono);
}

.glod {
    background-image: var(--primary-glow);
}

.line {
    border-top: 0.2px solid #B6AB98;
    border-bottom: 1px solid #B6AB98;
}

.radial1 {
    --value: 50;
    --size: 3rem;
}

.container {
    position: relative;

}

.child {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}


.sm {
    color: #b6ab9885;
}


.home {
    background: url('./../../public/amaboko.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
    filter: grayscale(100);

}

.skloo {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.logo {
    animation-name: logo;
    animation-duration: 20s;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes logo {
    to {
        transform: translateX(20rem);
    }
}


.features {
    grid-column: 7 / -1;
    margin-top: 256px;
}

.feature {
    width: columns(4);
}

.title {
    margin-bottom: desktop-vw(24px);
}

.stickyl {
    position: fixed;
    top: 33%;
    align-self: start;
    grid-column: 3 / span 4;
}

.layout-grid {
    max-width: var(--layout-width);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 24px;
}

.why {
    margin-bottom: 640px;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/*---------------------*/

.scroll-section-outer{
    overflow: hidden;
}

.scroll-section-inner{
    height: 100vh;
    width: 400vw;
    display: flex;
    flex-direction: row;
    position: relative;
}

.scroll-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    background-color: var(--background-start-rgb);
}

.overlay {
    position:absolute;
    inset:0;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9) 47%,transparent, transparent 55%,rgba(0, 0, 0, 0.9) 50%,rgba(0, 0, 0, 0.9));
}

.loader_progress {
    height:100%;
    width:100%;
    background:white;
    transform:scaleX(0.0);
    transform-origin:left center;
}

.progressWrapper {
    position:absolute;
    bottom:0;
    left:0;
    height:5vh;
    width:100%;
    z-index:3;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: contain;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}


.scrollbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index:1;
    width: 100%;
    padding: 0;
}

.inner {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: red;
    transform: scaleX(0);
    transform-origin: 0 50%;
}